<div class="dashboard-container">
  <!-- Balance, Total Income, Total Expense Cards -->
  <div nz-row>
    <div nz-col nzSpan="8" class="grid-card">
      <h3>Balance</h3>
      <div class="card-content">
        <span style="color: slateblue;">${{stats?.balance}}</span>
      </div>
    </div>

    <div nz-col nzSpan="8" class="grid-card">
      <h3>Total Income</h3>
      <div class="card-content">
        <span style="color: green;">${{stats?.income}}</span>
      </div>
    </div>

    <div nz-col nzSpan="8" class="grid-card">
      <h3>Total Expense</h3>
      <div class="card-content">
        <span style="color: red;">${{stats?.expense}}</span>
      </div>
    </div>
  </div>

  <!-- Income Chart and Recent History in one row -->
  <div nz-row style="margin-top: 20px;">
    <!-- Income Chart -->
    <div nz-col nzSpan="14" class="chart-container">
      <nz-card nz-type="inner" nzTitle="Income Chart">
        <canvas #incomeLineChartRef></canvas>
      </nz-card>
    </div>

    <!-- Recent History -->
    <div nz-col nzSpan="8" class="recent-history" style="padding: 20px;">
      <nz-card nz-type="inner" nzTitle="Recent History">
        <div nz-card-grid style="width: 100%;">
          <span class="income">+{{stats?.latestIncome?.amount}} {{stats?.latestIncome?.title}}</span>
        </div>
        <div nz-card-grid style="width: 100%;">
          <span class="expense">-{{stats?.latestExpense?.amount}} {{stats?.latestExpense?.title}}</span>
        </div>
      </nz-card>

      <!-- Income Min/Max Info -->
      <nz-card nzType="inner" nzTitle="Income" class="info-section">
        <div nz-row>
          <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Minimum: {{stats?.minIncome}}</div>
          <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">|</div>
          <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Maximum: {{stats?.maxIncome}}</div>
        </div>
      </nz-card>

      <!-- Expense Min/Max Info -->
      <nz-card nzType="inner" nzTitle="Expense" class="info-section">
        <div nz-row>
          <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Minimum: {{stats?.minExpense}}</div>
          <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">|</div>
          <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">Maximum: {{stats?.maxExpense}}</div>
        </div>
      </nz-card>
    </div>
  </div>

  <!-- Expense Chart -->
  <div nz-row style="margin-top: 20px;">
    <div nz-col nzSpan="24" class="chart-container">
      <nz-card nz-type="inner" nzTitle="Expense Chart">
        <canvas #expenseLineChartRef></canvas>
      </nz-card>
    </div>
  </div>
</div>
