<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <img src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-man-avatar-image-for-profile-png-image_13001882.png" alt="avtar">
      <div class="user-info">
        <Strong>Ganesh</Strong>
      </div>
    </div>
  <ul nz-menu nz-theme="dark" nz-mode="inline">
    <li nz-menu-item routerLink="/">
      <span nz-icon nz-type="dashboard"></span>
      <span>Dashboard</span>
    </li>

    <li nz-menu-item routerLink="/income">
      <span nz-icon nz-type="fund"></span>
      <span>Income</span>
    </li>

    <li nz-menu-item routerLink="/expense">
      <span nz-icon nz-type="fall"></span>
      <span>Expense</span>
    </li>


  </ul>
  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>

</nz-layout>
